<p class="text-muted">
    {{ product.comments|length }} Comments
    |
    {% for tag in product.tags %}
        <a href="{{ path('app_home', { tag: tag.name }) }}" class="badge bg-light text-dark text-decoration-none 
            {{
                tag.name == app.request.get('tag')
                ? 'bg-dark text-white'
                : 'bg-light text-dark'
            }}"
        >
            {{ tag.name }}
        </a>
    {% endfor %}
</p>