{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1 class="mb-4">Result for: {{ tag.name }}</h1>

    {% for product in tag.products %}

        {{ include('page/_product.html.twig') }}

    {% endfor %}
{% endblock %}